  {% extends 'mainapp/base.html' %}  
  {% block content %}
  <script src="https://d3js.org/d3.v5.min.js"></script>
          <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">

                                <div class="card-content">
                                    <h4 class="card-title"></h4>
                                    <div class="row">
                                        <div class="col-md-12">

                        <div class="header text-center">
                        

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                         <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <span><strong><b>AVG DAILY PRODUCTION ALL WATER SOURCES</strong></span><br>

                                    543 (000cubic meters)<br>
                                     (Target:457(000cubic meters))
 
                                </div>
                            </div>
                        </div>
                          <div class="col-md-3">
                           <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <span><strong><b>AVG DAILY PRODUCTION ALL WATER SOURCES</strong></span><br>

                                    543 (000cubic meters)<br>
                                     (Target:457(000cubic meters))
 
                                </div>
                            </div>
                        </div>
                          <div class="col-md-3">
                           <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <span><strong><b>AVG DAILY PRODUCTION ALL WATER SOURCES</strong></span><br>

                                    543 (000cubic meters)<br>
                                     (Target:457(000cubic meters))
 
                                </div>
                            </div>
                        </div>
                         <div class="col-md-3">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <span><strong><b>AVG DAILY PRODUCTION ALL WATER SOURCES</strong></span><br>

                                    543 (000cubic meters)<br>
                                     (Target:457(000cubic meters))
 
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'mainapp/source.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    {% endblock %}